.about {
  display: grid;

  grid-column: full-start / full-end;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background: linear-gradient(to left, #402e32cc 45%, #402e32cc 55%),
    url("../../assets/img/stones.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
}

.about__profilePhoto {
  height: 50vh;
  display: grid;
  align-self: center;
  justify-self: right;
  grid-column: 1 / 2;
}

.about__box {
  display: flex;
  flex-direction: column;
  height: 50rem;
  width: 25vw;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 5rem;
  color: var(--color-light-cream);
  font-weight: 400;
}

.about__box--header {
  font-size: var(--font-size-medium);
  padding-bottom: 5rem;
}

.about__box--text {
  font-size: var(--font-size-small);
  line-height: 1.4;
}
