.nav, 
.navburger {
    width: 100vw;
    background-color: var(--color-semi-transparent);
    justify-content: center;
    position: fixed;
    z-index: 20;
}

.navWrapper {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.linkWrapper {
    width: 50rem;
}

.nav__list {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    justify-content: space-between;

    /* grid-template-columns: minmax(3rem, 12vw) minmax(max-content, 60vw) repeat(4, minmax(max-content, 1fr)) minmax(3rem, 12vw);
    column-gap: 2rem;
    align-items: center; */
}

.nav__list__item {
    color: var(--color-light-cream);
    font-size: var(--font-size-medium);
    font-weight: 300;
    letter-spacing: .2rem;
}


.nav__list__link--img {
    height: 8rem;
}

.nav__list__link:link,
.nav__list__link:visited {
    text-decoration: none;
    color: var(--color-light-cream);
    display: block;
    transition: all .2s;
}

.nav__list__link:hover {
    color: var(--color-hilight-brown);
    text-decoration: overline;
}

.nav__list__link:active {
    color: var(--color-hilight-brown);
    text-decoration: line-through;
}

/* ------------------ burger menu ------------------- */



/* ------------------ media-queries ------------------- */


@media screen and (max-width: 1500px) {
    .navWrapper {
        width: 95vw;
        padding: .5rem;
    }
    
  }

@media screen and (max-width: 800px) {
    .nav{
        /* justify-content: right; */
    }

    .navWrapper {
        display: none;
    }
    
  }

  @media screen and (min-width: 800px) {
    .navBurger {
        display: none;
        
    }
  }
  