.contact {
  grid-column: full-start / full-end;
  /* height: 100vh; */
  background-color: var(--color-dark-black);
  color: var(--color-light-cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}


.contactContent {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 7rem;
}

.contactContentForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60rem;
  row-gap: 1rem;
}

.contactInfo {
  width: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.contactFormBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}


.contactInfoWrapper {
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
}

.contactInfoWrapperBox {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.contactInfoWrapperBox::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 5.3em;
  background-color: var(--color-hilight-brownOpaque);
}

.contactInfoWrapperBox:last-child {
  row-gap: 3rem;
}

.contactInfoSvg {
  height: 3.5rem;
  width: 3.5rem;
}

input {
  background-color: var(--color-primary-darkOpaque);
  font-size: var(--font-size-medium);
  color: var(--color-light-cream);
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  width: 100%;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem var(--color-shadow);
  border-bottom: 3px solid var(--color-dark-blue);
}

input:focus:invalid {
  border-bottom: 3px solid var(--color-dark-blue);
}

input::-webkit-input-placeholder {
  color: rgba(rgb(248, 248, 248), 0.1);
}

/* input__label {
  font-size: var(--default-font-size);
  font-weight: 100;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  color: rgba(rgb(248, 248, 248), 0.1);
} */

input__input:placeholder-shown + &__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

input__select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
}

textarea {
  background-color: var(--color-primary-darkOpaque);
  font-size: var(--font-size-medium);
  color: var(--color-light-cream);
  font-family: inherit;
  height: 18rem;
  min-height: 18rem;
  max-height: 28rem;
  padding: 1rem 1.5rem;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 2rem;
}
/* 
.contact__box {
  justify-content: center;
  padding-top: 1rem;
} */


.firstLineBox {
  display: flex;
  gap: 1rem;
}

/* media queries */

@media screen and (max-width: 1400px) {
  /* .contact {
    padding: 5rem 0;
  } */
  /* .contactContainer {

    width: 90vw;
  } */
}

@media screen and (max-width: 1205px) {

}

@media screen and (max-width: 970px) {

  .contact {
    /* height: auto; */
    padding: 10rem 2rem;
  }

  /* .contactContainer {
    height: 100%;
  } */

  .contactContent {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    .contactInfo {
      width: 100%;
      align-items: self-start;
    }

    .contactContentForm {
      width: 100%;

      .contactFormBox {
        width: 100%;
      }
    }
  }
}
