.homeContainer {
  display: grid;
  grid-template-rows: 73vh 7vh repeat(2, max-content) 90vh 10vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      6,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

/* -------------- Media queries --------------- */

@media screen and (max-width: 970px) {
  .app {
    display: grid;
    grid-template-rows: 73vh 7vh min-content max-content max-content 10vh;
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        6,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }
}
